<!DOCTYPE html>
<html>
  <head>

    <title>Worthy Burger!</title>
    <link rel="icon" href="assets/img/burgerimg2.jpg">

    <!-- bootstap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- custom CSS Styling -->
    <link rel="stylesheet" href="assets/css/style.css">

    {{!-- custom Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Dokdo|Josefin+Sans" rel="stylesheet">

  </head>

  <body>

    <!-- page Container -->
    <div class="container-fluid">
    <center>
      <div class="row">
      <img src="assets/img/burgerimg2.png" alt="Burger Img">

    <div class="jumbotron">
    <h1>WORTHY BURGER!</h1>      
    <p>Choose a Burger from the list. Then EAT it. <br> 
    None of the burgers for you? Enter a burger of your choice to be made. The list on the right keeps track of what you have already eaten.</p>    

    
        
    </center>
    

      <br>
      

      <!-- Burger Content from handlebars -->

      {{{body}}}


      <br><br>

      <!-- Input New Burgers Form -->
      <form action="burger/create" method="POST"> 
        
        <!-- Text Area Input -->
        <div class="row">

          <!-- Empty Div to help center textarea -->
          <div class="col-md-3"></div> 

          <!-- Burger Input Box -->
          <div class="form-group col-md-6">
            <center><label for="new_burger" class="submitFont">Request a new burger!</label></center>
            <textarea class="form-control" type="text" columns="6" rows="2" id="new_burger required value="" name="burger_name"></textarea>
          </div>
         
          <div class="col-md-3"></div> 
        </div>
      
        <!-- Submit Button -->
        <center>
          <button id="submit-button" type="submit" class="btn btn-success">Make my Burger!</button>
        </center>
      </form>
      <br>
    </div>
  </body>
</html> 
